extends ../layouts/Main

block scripts
    script(src="../main/MainController.js")
    script(src="../settings/SettingController.js")
    script(src="../death/DeathController.js")
    script(src="../death/DeathService.js")
    script(src="../death/DetailController.js")

block content

    div(ng-view)